# fly.toml app configuration file generated for centrepoint-backend on 2026-01-20
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "centrepoint-backend"
primary_region = "nbo"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  size = "shared-cpu-1x"
  memory = "512mb"
